.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > div {
    margin: 10px;
}

.header-logo {
    width: 200px;
}

.search-bar {
    background-color: #1c1c1d;
    height: 50px;
    flex: 1;
    display: flex;
    border-radius: 50px;
    align-items: center;
}

.searchIcon-container {
    margin: 10px;
}

.search-input {
    background-color: transparent;
    border: none;
    width: 100%;
    outline: none;
    color: #eee;
    font-size: 16px;
}

.header-items {
    display: flex;
    color: #adadad
}

.header-items > p {
    margin: 10px;
    cursor: pointer;
}

.header-items > p:hover {
    color: white;
}

.header-actions {
    display: flex;
    align-items: center;
}

.switch-container {
    background-color: #1c1c1d;
    border-radius: 50px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.switch-container > img {
    height: 25px;
}

.login-button {
    background: linear-gradient(to right, #59f9b5, #66feea);
    color: black;
    padding: 15px 40px;
    border-radius: 50px;
    cursor: pointer;
}

.login-button:hover {
    color: #3b3b46;
}
